body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.file-upload {
  min-height: 50vh;
  text-align: center;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
}
.modal-file-list {
  position: relative;
  cursor: pointer;
  height: 12rem;
  padding-bottom: 2%;
  overflow: hidden;
  opacity: 0.4;
}
.file-img-box {
  max-height: 10rem;
}
.modal-file-list:hover {
  opacity: 1;
}
.selection {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-45%,-50%);
}
.selection svg {
  font-size: 50px;
  border-radius: 50%;
  background-color: rgb(23, 70, 48);
  color:  rgb(32, 211, 32);
}
.image-preview img {
  width: auto;
  margin-bottom: 5rem;
}